# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Restrict all rules to the Auction-Bazaar directory
/Auction-Bazaar/dist
/Auction-Bazaar/tmp
/Auction-Bazaar/out-tsc
/Auction-Bazaar/bazel-out

# Node
/Auction-Bazaar/node_modules
/Auction-Bazaar/npm-debug.log
/Auction-Bazaar/yarn-error.log

# IDEs and editors
/Auction-Bazaar/.idea/
/Auction-Bazaar/.project
/Auction-Bazaar/.classpath
/Auction-Bazaar/.c9/
/Auction-Bazaar/*.launch
/Auction-Bazaar/.settings/
/Auction-Bazaar/*.sublime-workspace

# Visual Studio Code
/Auction-Bazaar/.vscode/*
!/Auction-Bazaar/.vscode/settings.json
!/Auction-Bazaar/.vscode/tasks.json
!/Auction-Bazaar/.vscode/launch.json
!/Auction-Bazaar/.vscode/extensions.json
/Auction-Bazaar/.history/*

# Miscellaneous
/Auction-Bazaar/.angular/cache
/Auction-Bazaar/.sass-cache/
/Auction-Bazaar/connect.lock
/Auction-Bazaar/coverage
/Auction-Bazaar/libpeerconnection.log
/Auction-Bazaar/testem.log
/Auction-Bazaar/typings

# System files
/Auction-Bazaar/.DS_Store
/Auction-Bazaar/Thumbs.db

/auction-backend/node_modules/