<div class="container">
  <header>
    <nav class="navbar">
      <div class="navbar-left">
        <h2>Auction Bazaar</h2>
      </div>
      <div class="navbar-right">
        <input type="text" placeholder="Search..." class="search-bar" />
        <div class="profile-container" (mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
          <i class="fas fa-user-circle profile-icon"></i>
          <!-- Dropdown -->
          <ul class="dropdown-menu" *ngIf="isDropdownVisible">
            <li *ngIf="auctioneer"><a routerLink="/auctioneer-dashboard">Auctioneer&nbsp;Dashboard</a></li>
            <li *ngIf="bidder"><a routerLink="/bidder-dashboard">Bidder&nbsp;Dashboard</a></li>
            <hr>
            <li *ngIf="isSignedIn"><a (click)="logout()">Logout</a></li>
            <li *ngIf="!isSignedIn"><a routerLink="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div class="footer-links">
      <a routerLink="/">Home</a>
      <a routerLink="/about-us">About Us</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </footer>
</div>
