<!-- <div>
    <h3>Number of Auctions vs Users</h3>
    The canvas where the chart will be rendered
    <canvas id="auctionChart"></canvas>
  </div> -->
  
  <div class="dashboard">
    

    <div class="section">
      <h3>Number of Auctions vs Users</h3>
      <canvas id="auctionChart"></canvas>
    </div>

    <div class="section">
      <h3>User Behavior Insights</h3>
      <canvas id="userBehaviorChart"></canvas>
    </div>

    <div class="section">
      <h3>Financial Metrics</h3>
      <canvas id="financialChart"></canvas>
    </div>
    
  </div>