<!-- <header>
  <div class="header-title">Auction Bazaar</div>
  <a routerLink="/login" class="login-button">Login</a>
</header> -->
<div class="home-wrapper">
    <h1>{{ title }}</h1>
    <p>Discover amazing auctions and deals right here. Bid, sell, and win like never before!</p>
  
    <div class="navigation">
      <a routerLink="/create-account" class="nav-link">Register</a>
      <a routerLink="/about-us" class="nav-link">About Us</a>
      <a routerLink="/contact" class="nav-link">Contact</a>
      <a routerLink="/login" class="nav-link">Login</a>
    </div>
  </div>
  